{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Declaracion list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
				<th>Empresa</th>
                <th>Fecha</th>
                <th>Fechadesde</th>
                <th>Fechahasta</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('declaracion_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.idEmpresa }}</td>
                <td>{% if entity.fecha %}{{ entity.fecha|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.fechaDesde %}{{ entity.fechaDesde|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.fechaHasta %}{{ entity.fechaHasta|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.status }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('declaracion_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('declaracion_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('declaracion_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
