{% extends '::base.html.twig' %}

{% block body -%}
    <h1>ActividadesEmpresa</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Declaracion</th>
                <td>{{ entity.idDeclaracion }}</td>
            </tr>
            <tr>
                <th>Idactividad</th>
                <td>{{ entity.idActividad }}</td>
            </tr>

            <tr>
                <th>Ingresobruto</th>
                <td>{{ entity.ingresoBruto }}</td>
            </tr>
            <tr>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ entity.status }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('actividadesempresa') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('actividadesempresa_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
