{% extends '::base.html.twig' %}

{% block body -%}
    <h1>ActividadesEmpresa</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
<<<<<<< HEAD
                <th>Ingresobruto</th>
                <td>{{ entity.ingresoBruto }}</td>
=======
                <th>Idempresa</th>
                <td>{{ entity.idEmpresa }}</td>
            </tr>
            <tr>
                <th>Idactividad</th>
                <td>{{ entity.idActividad }}</td>
            </tr>
            <tr>
                <th>Fechainicio</th>
                <td>{{ entity.fechaInicio|date('Y-m-d H:i:s') }}</td>
>>>>>>> f61603c4178bde61c131191bc46546d83fa407b1
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ entity.status }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('actividadesempresa') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('actividadesempresa_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
