{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Clasificacion</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Idramo</th>
                <td>{{ entity.idRamo }}</td>
            </tr>
            <tr>
                <th>Codigo</th>
                <td>{{ entity.codigo }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ entity.nombre }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ entity.descripcion }}</td>
            </tr>
            <tr>
                <th>Alicuota</th>
                <td>{{ entity.alicuota }}</td>
            </tr>
            <tr>
                <th>Minimotributario</th>
                <td>{{ entity.minimoTributario }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ entity.status }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('clasificacion') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('clasificacion_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
