{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Usuarios list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Login</th>
                <th>Clave</th>
                <th>Nivel</th>
                <th>Cedula</th>
                <th>Nombre</th>
                <th>Telefonos</th>
                <th>Correo</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('usuarios_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.login }}</td>
                <td>{{ entity.clave }}</td>
                <td>{{ entity.nivel }}</td>
                <td>{{ entity.cedula }}</td>
                <td>{{ entity.nombre }}</td>
                <td>{{ entity.telefonos }}</td>
                <td>{{ entity.correo }}</td>
                <td>{{ entity.status }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('usuarios_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('usuarios_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('usuarios_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
