{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Vehiculos list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Idcontribuyente</th>
                <th>Placa</th>
                <th>Marca</th>
                <th>Modelo</th>
                <th>Tipo</th>
                <th>Color</th>
                <th>Numerop</th>
                <th>Ano</th>
                <th>Serial</th>
                <th>Costo</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('vehiculos_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.idContribuyente }}</td>
                <td>{{ entity.placa }}</td>
                <td>{{ entity.marca }}</td>
                <td>{{ entity.modelo }}</td>
                <td>{{ entity.tipo }}</td>
                <td>{{ entity.color }}</td>
                <td>{{ entity.numerop }}</td>
                <td>{{ entity.ano }}</td>
                <td>{{ entity.serial }}</td>
                <td>{{ entity.costo }}</td>
                <td>{{ entity.status }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('vehiculos_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('vehiculos_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('vehiculos_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
